
/* Variables */

:root {
  /* Paleta de colores */
  --very-ligh-pink: #c7c7c7;
  --white: #fff;
  --text-input-field: #F7F7F7;
  --black: #000000;
  --hospital-green: #ACD9B2;
  --dark: #232830;

  /* tamaños de texto 18px 16px 14px  */
  --lg: 18px;
  --md: 16px;
  --sm: 14px;
  --border-circular-radius: 50%:
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.container{
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100%;
}

.form-container{
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.logo{
  width: 150px;
  justify-self: center;
  margin-bottom: 40px;
}

.title {
  font-size: var(--lg);
  text-align: center;
}

.subtitle{
  font-size: var(--md);
  color: var(--very-ligh-pink);
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
  padding-right: 12px;
  padding-left: 12px;
}

.form{
  display: flex;
  flex-direction: column;
}

.label{
  font-size: var(--md);
  font-weight: bold;
  margin-bottom: 4px;
}

.input {
  height: 32px;
  border: none;
  border-radius: 8px;
  background-color: var(--text-input-field);
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 20px;
}

.primary-button {
  background-color: var(--hospital-green);
  color: var(--white);
  height: 52px;
}

.back-button {
  text-decoration: none;
  text-align: center;
  font-size: var(--sm);
  color:var(--hospital-green) ;
}

@media screen and (min-width: 600px) {
  .logo{
    display: none;
  }
}
